/* This is a comment */
body {
	background-color:rgba(0-0-0-0);
	background-image: url(../images/cover.jpg);
	background-size: cover;
	background-position: 50% 75%;
	font-family: Arial, sans-serif;
}

.main {
	max-width: 600px;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 auto;
	padding: 40px;
}

h1 {
	text-align: center;
	color: black;
	padding-bottom:10px;
	border-bottom: 2px solid black;
	margin-bottom: 20px
	font-family: 'PT Sans Narrow', sans-serif;
}
h2 {
	cursor: pointer;
	text-align: center;
	color: black;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 5px;
}

img {
	display: block;
	margin: 50px auto 0;
}

h3 {
	margin-top: 0
	cursor: pointer;
}

.face {
	display: block;
	margin: 50px auto 0;
	border: 10px dotted black;
	border-radius: 50% 50% 0 50%;
}

p,
ul,
ol {
	line-height: 1.3;
	list-style: disc;
	padding-left: 2;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: darkslategrey;
	text-decoration: overline;
}

}
